body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightblue;
    font-family: cursive;
    margin: 0;
}
.container{
    text-align: center ;
    background-color: navy;
    padding: 10px;
    border-radius: 15px;
    flex-direction: column;
    width:300px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    border-radius: 15px;
    gap: 10px;
}
input{
    width: 100%;
    margin-top: 10px;
    outline: none;
    border-radius: 15px;
    gap: 10px;
}
button{
    margin-top: 15px;
    width: 100%;
    border-radius: 10px;
    background-color: goldenrod;
    cursor: pointer;
    border: none;
    transition: 0.3s ease-in-out;
}
button:hover{
    color: yellow;
    background-color: black;
}
footer p{
    color: white;
    font-family: fantasy
}